PROJECT_NAME="AI Smart Hospital Management System"
API_V1_STR="/api/v1"
ENV=development

# Database Settings
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=hospital_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/hospital_db

# Security Settings
# Generate a real one using: openssl rand -hex 32
SECRET_KEY=yoursecretkeyhereplaceholder
ACCESS_TOKEN_EXPIRE_MINUTES=11520
